<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.rcbteam.testcases.Testcase2_VerifyMinimumOneWicketKeeperInTeam"/>
      <class name="com.rcbteam.testcases.Testcase1_verifyOnly4ForeighPlayersInTeam"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
